.react-datetime-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: none;
}
.react-calendar {
  overflow-y: scroll;
  height: 35vh;
  width: 36vh;
}

.react-datetime-picker__calendar {
  height: auto;
  z-index: 9999 !important;
  overflow: visible !important;
}
