.scrollTable {
  height: 38vh;
  overflow-y: auto;
  overflow-x: auto;
}

th {
  position: sticky;
  top: 0;
  background-color: rgb(106, 114, 127);
  z-index: 1;
}  

.scrollTable .react-bootstrap-table-page-btns-ul{
  display: none;
}
