/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
#hideArrows {
  -webkit-appearance: none;
  margin: 0;
} */

/* Firefox */
/* input[type='number'],
#hideArrows {
  -moz-appearance: textfield;
} */
